<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.wso2.developerstudio.eclipse.gmf.esb.diagram.debugger.launch">
<stringAttribute key="Command Port" value="9005"/>
<stringAttribute key="Event Port" value="9006"/>
<stringAttribute key="Server Host" value="localhost"/>
<stringAttribute key="server location path" value=""/>
</launchConfiguration>
